<%= simple_form_for @star do |form| %>
  <%= form.error_notification %>

  <div class="field">
    <%= form.label :initial_name %>
    <%= form.text_field :initial_name %>
  </div>

  <div class="field">
    <%= form.label :price %>
    <%= form.number_field :price %>
  </div>

  <div class="field">
    <%= form.label :category %>
    <%= form.text_field :category %>
  </div>

  <div class="field">
    <%= form.label :distance_from_earth_in_light_years %>
    <%= form.number_field :distance_from_earth_in_light_years %>
  </div>

  <div class="field">
    <%= form.label :spectral_class %>
    <%= form.text_field :spectral_class %>
  </div>

  <div class="field">
    <%= form.label :photo %>
    <%= form.input :photo, as: :file %>
  </div>
  <div class="actions">
    <%= form.submit %>
  </div>
<% end %>
