<div class="container mt-5">
  <div class="row justify-content-center">
        <div class="col-md-6">
          <%= simple_form_for [@star, @rental] do |f| %>
  <%= f.input :new_name %>
  <%= f.input :start_date,
              as: :string,
              input_html: { data: { controller: "datepicker" } } %>
  <%= f.input :end_date,
              as: :string,
              label_html: { class: 'd-none' },
              input_html: { data: {
                                    controller: "datepicker"} ,
                                    class: "d-none"} %>

  <%= f.submit "Submit !", class: "btn btn-dark btn-lg rounded-pill border border-light text-white btn-light:hover text-dark" %>
<% end %>
        </div>
  </div>
</div>
